* {
  margin: 15px;
  padding: 15px;
}

.sizing {
  width: 450px;
  justify-content: center;
}

.img-gallery img:hover {
  transform: scale(0.8) rotate(5deg);
  border-radius: 20px;
  box-shadow: 0 32px 75px rgba(red, green, blue, alpha);
}

.full-img {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.full-img img {
  width: 90%;
  max-width: 500px;
}

.full-img span {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 30px;
  color: aliceblue;
  cursor: pointer;
}
